# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Coverage
.coverage
coverage/
htmlcov/

# Testing
.pytest_cache/
.mypy_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE
.vscode/
.idea/

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable
ehthumbs_vista.db

# Temporary files
*.tmp
*.temp
*~

# Git
.git/
!.gitignore

# GitHub
.github/

# Travis CI
.travis.yml

# Circle CI
.circleci/

# AppVeyor
.appveyor.yml

# Jenkins
.jenkins.yml

# Docker
.dockerignore
Dockerfile

# Configuration
config/
configs/

# Secrets
secrets/
.secret

# Database
*.db
*.sqlite
*.sqlite3

# Backup files
*~
*.bak
*.backup

# Compiled binary files
*.exe
*.dll
*.so
*.dylib
*.class
*.o
*.a
*.obj
*.out
*.dll
*.lib
*.obj
*.o
*.so
*.dylib
*.pyd
*.jar
*.war
*.ear
*.zip
*.rar
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.7z
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

# Cache
.cache/
.caches/
*.cache

# Lock files
*.lock
package-lock.json
yarn.lock
Pipfile.lock
poetry.lock

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bower
bower_components/

# Rails
.bundle
vendor/bundle
.ruby-version
public/system
public/uploads
storage/
.tmp/

# Ruby
Gemfile.lock

# Go
*.out
bin/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.starteam.mask

# C#
*.sln
*.csproj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.pidb
*.svclog
*.suo
*.pdb
*.userprefs
*.cache
*.d
*.cd
*.dd
*.cache
*.pid
*.log
*.idb
*.pdb
*.ilk
*.tmp
*.obj
*.o
*.gch
*.pch
*.nib
*.so
*.dylib
*.dll
*.exp
*.lib
*.map
*.sdf
*.opensdf
*.sln.docstates
*.userosscache
*.scc
*.VC.db
*.VC.VC.opendb
*.aps
*.ncb
*.opt
*.plg
*.vcp
*.vjo
*.tlog
*.tag
*.metagen
*.bsc
*.ipch
*.aar
*.war
*.apk
*.iml
*.iws
*.ipr
*.idea
*.swf
*.swc
*.as
*.fla
*.swd
*.as3proj
*.mxmlproj
*.xflex
*.actionScriptProperties
*.flexProperties
*.flexLibProperties
*.settings
*.launch
*.classpath
.project
*.pydevproject
*.wtpmodules
*.doxygen
*.dox
*.dot
*.eps
*.svg
*.pdf
*.dmg
*.iso
*.img
*.vmdk
*.vdi
*.ova
*.ovf
*.qcow2
*.raw
*.vhd
*.vhdx
*.wim
*.esd
*.swm
*.partclone
*.ddrescue
*.dd
*.img
*.iso
*.nrg
*.cue
*.ccd
*.sub
*.idx
*.ifo
*.bup
*.vob
*.ts
*.m2v
*.mpg
*.mpeg
*.m1v
*.m2t
*.m2ts
*.mts
*.mov
*.qt
*.avi
*.wmv
*.mp4
*.m4v
*.mp4v
*.3gp
*.3g2
*.mj2
*.mjp2
*.m4a
*.aac
*.ac3
*.dts
*.dtshd
*.eac3
*.flac
*.oga
*.ogg
*.opus
*.spx
*.wav
*.wma
*.webm
*.mkv
*.mka
*.mks
*.m4b
*.m4r
*.3ga
*.mid
*.midi
*.rmi
*.kar
*.mpc
*.mpp
*.mp+
*.ape
*.mac
*.wv
*.wvc
*.tta
*.ofr
*.ofs
*.dsf
*.dff
*.tak
*.sacd
*.cda
*.aif
*.aiff
*.au
*.snd
*.vox
*.raw
*.caf
*.sd2
*.w64
*.rf64
*.flv
*.f4v
*.f4p
*.f4a
*.f4b
*.3gpp
*.3gpp2
*.mxf
*.roq
*.avs
*.drc
*.m3u8
*.ts
*.m3u
*.pls
*.asx
*.ram
*.rm
*.rmvb
*.rv
*.vp6
*.vp7
*.vp8
*.vp9
*.av1
*.avc
*.mvc
*.h264
*.h265
*.hevc
*.264
*.265
*.mkv
*.mka
*.mks
*.webm
*.weba
*.3gp
*.3g2
*.3gpp
*.3gpp2
*.m4a
*.m4b
*.m4p
*.m4r
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.wmx
*.wmd
*.wlmp
*.wpl
*.dvr-ms
*.wtv
*.dvr
*.wtv
*.dvr-ms
*.wtv
*.mod
*.tod
*.m2t
*.m2ts
*.mts
*.m2v
*.m1v
*.m4v
*.mov
*.qt
*.avi
*.divx
*.mpg
*.mpeg
*.m1v
*.m2v
*.mpv
*.mp2
*.mp3
*.mpa
*.m2a
*.m3a
*.wav
*.wave
*.snd
*.au
*.aif
*.aiff
*.aifc
*.caf
*.flac
*.alac
*.ape
*.mac
*.mpc
*.mpp
*.mp+
*.wv
*.wvc
*.tta
*.tak
*.ofr
*.ofs
*.dsf
*.dff
*.sacd
*.cda
*.wma
*.asf
*.wmv
*.w......